/* styles.css */

/* Styling for the table */
table {
  width: 100%; 
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd !important;
  padding: 8px;
  text-align: left;
}

/* Styling for table header */
th {
  background-color: #f2f2f2;
}

/* Styling for table body rows on even rows */
tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

/* Styling for table body rows on odd rows */
tr:nth-child(odd) {
  background-color: #ffffff;
}
h3{
  background-color:#ffffff !important;
   padding:50px; 
   width:200px;
   color: blue;
  border-top-left-radius:300px;
  border-top-right-radius:300px;
  border-bottom-right-radius:300px;
  border-bottom-left-radius:300px;
}